.nav{
    display: flex;
    width: 100%;
    height: 48px;
    background-color: var(--primary-color);
    border-radius: var(--box-radius);
    max-width: var(--maxwidth);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.name {
    font-weight: 600;
}

.default-options{
    display: none;
    gap: 8px;
}

.default-options > button{
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}

.open-icon {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
}

@media screen and (min-width: 760px) {
    .open-icon{
        display: none;
    }
    .default-options{
        display: flex;
    }
}

.open-icon > button{
    
    display: block;
    width: 16px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}